* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

h1 {
  font-size: 7rem;
  font-family: cursive;
  text-align: center;
}

.container,
.form {
  width: 100vw;
  height: 90vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form input {
  width: 50rem;
  height: 8rem;
  border: 3px solid rgba(225, 225, 225, 0.6);
  border-radius: 0.6rem;
  margin-bottom: 1rem;
  padding: 0 2rem;
  outline: none;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn {
  width: 50rem;
  height: 8rem;
  border: none;
  background: #069CED;
  border-radius: 1rem;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  margin-bottom: 3rem;
  font-size: 2.678rem;
  color: white;
}
.blur{
  width: 100vw;
  height: 100vh;
  filter: blur(1rem);
  z-index: 100;
}
.load.long {
  height: 50rem;
  width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #F5F5F5;
  z-index: 999;
}
.load.span,
.load.span1 {
  display: flex;
}

.load.span span {
  height: 2rem;
  width: 2rem;
  background: black;
  margin: 3.7rem 0.5rem;
  border-radius: 50%;
  animation: animate 1s linear infinite;
}
.load span:nth-child(2) {
  animation-delay: 0.1s;
}
.load span:nth-child(3) {
  animation-delay: 0.2s;
}
.load span:nth-child(4) {
  animation-delay: 0.3s;
}

@keyframes animate {
  20% {
    transform: translateY(-1rem);
  }

  50% {
    transform: translateY(1rem);
  }
}

#anchor {
  color: red;
  font-size: 2.5rem;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 40%;
  }
}